    <div>
      <div><%= link_to "home", root_path %></div>
      <div><%= link_to "about me", about_path %></div>
      <div><%= link_to "contact", contact_path %></div>
      <div><%= link_to "blogs", blogs_path %></div>
      <div><%= link_to "portfolio", portfolios_path %></div>
    </div>